*{
    font-family: 'Lato', sans-serif;
}

.in-main{
   display: flex;
   justify-content: center;
    background-color: white;
    height: 50vh;
    width: 45vh;
    margin-left: 5%;
    margin-top: 5%;
    color: black;

    border-radius: 20px;

}

.basic-details{
    
    padding-top: 20px;
    padding-left: 20px;
}
.greeting{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
}

.balance-text{
    margin-top: 5%;
    font-size: 25px;
}
.current-balance{
    
    padding: 5px;
    width: 43vh;
   ;
    
    font-size: 40px;
}
.balance-text,
.current-balance{
    font-weight: bold;
    
}
.action-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.action-buttons button{
    font-weight: bold;
    font-size: 18px;
    border: 1px solid black;
    cursor: pointer;
    height: 3.2rem;
    width: 12rem;
    background-color: transparent;
    border-radius: 30px;
    margin: 20px;
    transition: all ease-in-out 0.3s;
}

.action-buttons button:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}

.log-out{
    text-align: center;
    
    
}

.log-out a{
    text-decoration: underline;
    font-size: 18px;
    color: rgb(0,0,0,0.8);
    font-weight: bold;
}

.amount-enter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.amount-enter input{
    width: 40vh;
    margin-top: 10px;
    border-radius: 20vh;
    border: 1px solid black;
    padding: 10px;
    height: 3rem;

}

.action-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .action-buttons{
        border-radius: 20%;
    }
    .in-main{
       margin-bottom: 20px;
        width: 40vh;
        margin-top: 0;
        margin-left: 0;
        margin-right: 8px;
        
        
    }

}