@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    font-family: Roboto, Arial;
    overflow: hidden;
    
}
body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}
.big-wrapper{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: transparent;
    
    
    
    
}
.big-wrapper .main{
    height: 50vh;
    width: 50vh;
    border: 1px solid black;
    box-shadow: 20px 0px 15px black;
    color: white;
    
    
}

.main .header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 40px;
    font-family: 'Bebas neue', sans-serif;
    letter-spacing: 2px;
    top: 5%;;
}
.taker {
    
    width: 50%;
    position: relative;
    top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 40%;
    left: 5%;
    transition: all ease-in 0.3s;
    border-radius: 5px;
    
}
.taker:hover{
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgb(255, 255, 255) ;

}