@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

    
}
body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    

}
.big-wrapper{
    
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: transparent;
    
    
    
    
}
.big-wrapper .main{
    min-height: 60vh;
    min-width: 50vh;
    height: 50vh;
    width: 50vh;
    border: 1px solid black;
    box-shadow: 20px 0px 15px black;
    color: white;
    
    
    
}

 .header-title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 40px;
    font-family: 'Bebas neue', sans-serif;
    letter-spacing: 2px;
    top: 5%;;
}
.taker {
    
    height: 70%;
    width: 90%;
    position: relative;
    top: 10%;
    padding-left: 2vh;
    padding-right: 0vh;
    padding-top: 5vh;
    padding-bottom: 10vh;
    left: 5%;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    
    
    
   
    
}
.taker:hover{
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgb(255, 255, 255) ;
}

.taker .asker{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.taker input{
    height: 40px;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    border:1px solid white;

}

.taker .submit-btn{
    font-weight: bold;
    background-color: transparent;
    height: 2.5rem;
    width: 8vh;
    margin-left: 35%;
    color: white;
    border: 1px solid white;
    margin-top: 5%;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    border-radius: 20px;
    margin-bottom: 20px;
}

.submit-btn:hover{
    border-radius: 30px;
    height: 3.5rem;
    width: 10vh;
    margin-left: 33%;
    font-size: 18px;
    margin-bottom: 17px;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 15px white;
}

.taker .unpresent {
    font-size: 14px;
    margin-left: 20%;
    margin-top: 15%;
}

.generate-btn{
    
    background-color: transparent;
    border: none;
    transition: all ease-in-out 0.2s;   
   
}
.generate-btn a{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    transition: all ease-in-out 0.2s;  
    letter-spacing: 2px;
    text-decoration: underline; 
}
.generate-btn a:hover{
    color: white;
    font-size: 15px;
    color: pink;
    
}
  
    


.arrow-back{
    background-color: red;
    color: white;
    cursor: pointer;
}